<div id="ca-edit-<%= id %>">
    <h5><%= figure.name %></h5>
    <p>技能：
        <select class="skill_name">
            <option value="">无</option>
            <option value="乱舞魏">乱舞魏</option>
            <option value="乱舞蜀">乱舞蜀</option>
            <option value="乱舞吴">乱舞吴</option>
            <option value="乱舞群">乱舞群</option>
            <option value="乱舞乾坤">乱舞乾坤</option>
            <option value="天地魏">天地魏</option>
            <option value="天地蜀">天地蜀</option>
            <option value="天地吴">天地吴</option>
            <option value="天地群">天地群</option>
            <option value="天地无用">天地无用</option>
            <option value="破碎残影">破碎残影</option>
        </select>
        <select class="skill_level">
            <option value="0">无</option>
            <option value="1">Ⅰ</option>
            <option value="2">Ⅱ</option>
            <option value="3">Ⅲ</option>
            <option value="4">Ⅳ</option>
            <option value="5">Ⅴ</option>
        </select>
    </p>
    <p>毕业:
        <select class="graduated">
            <option value=1 <% if(graduated) {%>selected<%} %>>true</option>
            <option value=0 <% if(!graduated) {%>selected<%} %>>false</option>
        </select>
    </p>
    <p>可转生：
        <select class="ready_to_convert">
            <option value=1 <% if(ready_to_convert) {%>selected<%} %>>true</option>
            <option value=0 <% if(!ready_to_convert) {%>selected<%} %>>false</option>
        </select>
    </p>
    <p>种子：
        <select class="is_seed">
            <option value=1 <% if(is_seed) {%>selected<%} %>>true</option>
            <option value=0 <% if(!is_seed) {%>selected<%} %>>false</option>
        </select>
    </p>
    <p>牛卡：
        <select class="dan_shi">
            <option value=1 <% if(dan_shi) {%>selected<%} %>>true</option>
            <option value=0 <% if(!dan_shi) {%>selected<%} %>>false</option>
        </select>
    </p>
    <p>需要强化：
        <select class="need_enhance">
            <option value=1 <% if(need_enhance) {%>selected<%} %>>true</option>
            <option value=0 <% if(!need_enhance) {%>selected<%} %>>false</option>
        </select>
    </p>
    <p>
        <input type="button" class="update" value='更新' />
        <input type="button" value='取消' onclick="javascript:$('#ca-edit-<%= id %>').hide()" />
    </p>
</div>
