<h5><img alt='' src='<% if(avatar) {%><%= avatar %><%}else{ %>http://wsa.sg.redatoms.com/mojo/resources/classic/mobile/image/entity/1/small/j2421.png<%} %> ' width='24' height='24'/>
<%= name %></h5>
<p>头像：
    <input class="avatar" type="text" value="<%= avatar %>" style="width:200px"/>
</p>
<p>国家：
    <select class="country">
        <option value="">无</option>
        <option value="蜀">蜀</option>
        <option value="魏">魏</option>
        <option value="吴">吴</option>
        <option value="群">群</option>
        <option value="晋">晋</option>
        <option value="汉">汉</option>
    </select>
</p>
<p>星级:
    <select class="init_star">
        <option value="5">★★★★★</option>
        <option value="4">★★★★</option>
        <option value="3">★★★</option>
    </select>
</p>
<p>类型：
    <select class="figure_type">
        <option value="0">武将</option>
        <option value="1">武器</option>
        <option value="2">战甲</option>
        <option value="3">坐骑</option>
        <option value="4">宝物</option>
    </select>
</p>
<p>数据：<a title="add new data" href="javascript:fg.add_data_li()"><img width="16" src="/static/pic/icon_plus_alt.png" /></a>
    <ul class="data">
        <% $.each(data, function(i, item) { %>
            <%= new EJS({url: '/static/ejs/fg_li_05.ejs', cache: false}).render(item) %>
        <% }) %>
    </ul>
</p>
<p>
    <input type="button" class="update" value='更新' />
</p>
