<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/sgll.js"></script>
    <script type="text/javascript" src="/static/js/ejs_0.9_alpha_1_production.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
</head>
<body>
<div>
    <div style="margin-bottom:15px">
        <p>
            <a href="/sgll/fg">图鉴</a>
            <a href="/sgll/yz?t=0">压阵</a>
            <a href="/sgll/top?t=1">武器</a>
            <a href="/sgll/top?t=2">防具</a>
            <a href="/sgll/top?t=3">攻击</a>
            <a href="/sgll/top?t=4">防御</a>
        </p>

        <p>
            <a href="/sgll/card">卡片</a>
        </p>
    </div>
    {% block sgll %} {% endblock %}
</div>
</body>
</html>
