<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/static/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery/jquery-ui.js"></script>
    <script type="text/javascript" src="/static/js/sgll.js"></script>
    <script type="text/javascript" src="/static/js/ejs_0.9_alpha_1_production.js"></script>
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
</head>
<body>
<div>
    <div style="margin-bottom:15px">
        <a href="/sgll/card">卡片</a>
        <a href="/sgll/fg">数据</a>
        <a href="sgll/stat">统计</a>
        <a href="sgll/arr">阵容</a>
    </div>
    {% block sgll %} {% endblock %}
</div>
</body>
</html>
